.container {
  padding: 16px 200px;
}

.icon {
  padding: 0 8px;
  color: #383a42;
  cursor: pointer;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

::ng-deep .mat-icon {
  margin-left: 4px !important;
}

.select-option {
  margin: 0px 16px;
  border-radius: 12px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
  border: 1px solid #eaeaea !important;
}

::ng-deep .mdc-list-item__primary-text {
  display: flex !important;
  align-items: center;
  justify-content: space-between !important;
}
