<div class="container">
  <mat-toolbar class="list-header" [style.background]="'#F7F8F8'">
    <span>لیست ها</span>
    <button mat-flat-button (click)="addListDialog()">
      <mat-icon>add</mat-icon>
      افزودن لیست
    </button>
  </mat-toolbar>
  <mat-nav-list>
    @for (item of list; track $index) {
    <mat-list-item>
      <div
        *ngIf="editingIndex !== $index; else editMode"
        (click)="openTaskList(item._id)"
      >
        {{ item.title }}
      </div>
      <ng-template #editMode>
        <input
          matInput
          [(ngModel)]="updatedTitle"
          (blur)="saveTitle($index)"
          (keyup.enter)="saveTitle($index)"
          (keyup.esc)="cancelEditing()"
          autofocus
        />
      </ng-template>
      <div *ngIf="!item.isMain && editingIndex !== $index">
        <mat-icon class="icon" (click)="startEditing($index, item.title)"
          >edit</mat-icon
        >
        <mat-icon class="icon" (click)="deleteList(item._id)">delete</mat-icon>
      </div>
    </mat-list-item>
    }
  </mat-nav-list>
</div>
