@for (item of tasks; track $index) {
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <mat-checkbox
        class="example-margin"
        [(ngModel)]="item.done"
        (change)="updateTaskStatus(item)"
        [labelPosition]="labelPosition()"
      >
      </mat-checkbox>
      {{ item.title }}
    </mat-card-title>
    <span> {{ getTime(item.date) }} </span>
    <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <mat-icon class="icon" (click)="editTask(item)">edit</mat-icon>
    <mat-icon class="icon" (click)="deleteTask(item._id)">delete</mat-icon>
  </mat-card-actions>
</mat-card>

}
